                 <% book.post_comments.each do |post_comment| %>
                  <div class="comments">
                   <%= attachment_image_tag post_comment.user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "40x40" %>
                   <%= post_comment.comment %>
                   <% if post_comment.user == current_user %>
                      <%= link_to "Destroy", book_post_comment_path(post_comment.book, post_comment), method: :delete, remote: true, class:"btn btn-sm btn-danger" %>
                      <!-- remote: true記述 -->
                   <% end %>
                  </div>
                   <%= link_to user_path(post_comment.user) do %>
                     <%= post_comment.user.name %>
                   <% end %>
                 <% end %>